.fondo {
    background-color: rgb(230, 231, 231);
}

// IMAGEN PRINCIPAL

.portada-principal_productos {
    background: url(../img/portadas/img-02.jpg) center no-repeat;
    background-size: cover;
    height: 300px;
    margin: 0;
    padding: 0;
}

.titulo-portada_productos {
    font-family: $txt-Principal;
    font-size: 7.5vh;
    color: rgb(235, 28, 28);
    animation-name: mover;
    animation-duration: 2s;
    animation-iteration-count: inherit;
    padding-top: 3rem;
    padding-left: 7%;
}
//  FIANL IMAGEN PRINCIPAL

// BREADCRUMBS (RUTA SITIO)

.breadcrumbs {
    padding: 20px 20px;
    font-family: sans-serif;
    font-size: 18px;

    .breadcrumbs__item {
        display: inline-block;
    }

    .breadcrumbs__item:not(:last-of-type)::after {
        content: "\203a";
        margin: 0 5px;
        color: rgb(138, 136, 136);
    }

    .breadcrumbs_link {
        text-decoration: none;
        color: rgb(138, 136, 136);
    }

    .breadcrumbs_link:hover {
        text-decoration: underline;
    }

    .breadcrumbs_link-active {
        color: rgb(206, 84, 169);
        font-weight: 700;
    }
}
// FINAL BREADCRUMBS (RUTA SITIO)

// SECCION CATEGORIAS
hr {
    background-color: $color-principal;
    height: 8px;
    border: none;
    margin-top: 25px;
}

.icono-menu_categorias {
    padding: 16px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    background-color: $color-principal;
}
.caja-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // padding: 16px;
    gap: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    padding: 16px;
}

.contenedor-search {
    display: flex;
    justify-content: center;
    gap: 16px;

    input {
        border: 1px solid #2d2931;
        border-radius: 10px;
        background-color: #f1ebf7;
        width: 240px;
    }
}

.nav-sm_catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: $txt-parrafo;

    h3 {
        text-decoration: underline 1px white solid;
        color: gray;
        font-size: 32px;
        color: white;
        padding: 26px 15px;
        font-family: $txt-Principal;
    }

    span {
        font-size: 30px;
        cursor: pointer;
    }
}

.nav-md_catalogo {
    display: none;
}

// MENU CATALOGO
.cont-menu {
    background-color: #867b91;
    width: 85%;
    text-align: left;
    position: absolute;
    top: 550px;
    left: 0;
    transition: all 0.5s ease;

    padding-top: 30px;
    padding-bottom: 40px;
    padding: 40px 20px;

    height: calc(100% - 60px)
}

.active {
    transform: translate(-1800px);
}

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5 ease;
    position: absolute;
}

.cont-menu ul li a {
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 15px;
    padding: 16px;
    cursor: pointer;
}

.cont-menu ul li a:hover {
    background-color: #b7549d;
}

// FIN MENU CATALOGO
.titulo-NuestrosProductos {
    display: none;
}

@media (min-width: 520px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 16px;
        padding: 16px;
    }
}

@media (min-width: 768px) {
    .caja-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;
        padding: 16px;
    }

    .caja-nav {
        width: 200px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 16px;
        padding: 16px;
    }

    .portada-principal_productos {
        height: 350px;
    }
    .titulo-portada_productos {
        padding-top: 4rem;
    }

    .breadcrumbs {
        font-size: 22px;
        padding-top: 30px;
        margin-left: 20px;
    }
    .cont-menu {
        top: 623px;

        width: 60%;

        height: 500px;
        padding-top: 50px;
    }
}

@media (min-width: 1280px) {
    .portada-principal_productos {
        height: 450px;
    }

    .portada-principal_productos {
        padding-top: 2rem;
        padding-left: 2%;
    }

    .titulo-portada_productos {
        padding-top: 10rem;
        padding-left: 10%;
        font-size: 13.5vh;
    }

    .breadcrumbs {
        margin-left: 58px;
        padding: 0;
        padding-top: 30px;
    }

    .breadcrumbs_link {
        font-size: 20px;
    }

    .titulo-NuestrosProductos {
        display: block;
        text-align: center;
        font-size: 50px;
        padding: 40px;
        font-family: $txt-Principal;
        text-decoration: underline solid #7e1b55;
        color: #7e1b55;
    }

    .caja-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        padding: 0;
    }

    .caja-nav {
        width: 200px;
        height: 400px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
        padding: 0px 68px;
        padding-bottom: 30px;
    }

    .nav-sm_catalogo {
        display: none;
    }

    .nav-md_catalogo {
        display: block;
        border: 2px rgba(151, 145, 145, 0.438) solid;
        background-color: #fff;
        width: 300px;
        max-height: 500px;
        margin-left: 20px;
        // left: 140px;
        padding: 20px 20px;

        h3 {
            font-size: 50px;
            color: rgb(126, 27, 85);
            padding-top: 16px;
            padding-bottom: 20px;
            font-family: $txt-Principal;
            text-decoration: underline 2px rgba(151, 145, 145, 0.438);
        }

        ul li:hover {
            background-color: #b35099cc;
        }

        ul li a:hover {
            color: rgb(252, 247, 250);
        }

        ul li a {
            text-transform: uppercase;
            color: rgb(126, 27, 85);
            line-height: 60px;
            font-size: 20px;
            padding: 16px;
        }
    }

    #menu-2 {
        display: none;
    }

    .icono-menu_categorias {
        display: none;
    }
}
